*{
    margin:0;
    padding: 0;
    transition: .5s;
}
body{
    background: lightgray;
}
header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
header .logo{
    position: absolute;
    top: calc(50% - 50px);
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
header .logo img{
    width: 300px;
    height: 100px;
}
header .logo p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5em;
}
header .logo p:last-child{
    font-size: 2.2em;
}
header .FAB{
    position: absolute;
    top: calc(50% + 100px);
    left: 50%;
    transform: translate(-50%,-50%);
}
header .FAB a{
    background: gray;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.3em;
}
header .navbar{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, .4);
}
header .navbar ul{
    list-style: none;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
}
header .navbar ul li{
    margin: 17.5px;
}
header .navbar ul li a{
    padding: 10px 30px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}
header .navbar ul li a:hover{
    background: lightgray;
}



header.active{
    height: 80px;
    background: rgba(255, 255, 255, .4);
}
header.active .logo{
    top: 0;
    left: 0;
    transform: translate(0,0);
    text-align: center;
    z-index: 1;
}
header.active .logo img{
    width: 150px;
    height: 60px;
    margin: 10px;
}
header.active .logo p{
    position: absolute;
    top: 10px;
    min-width: max-content;
    left: 170px;
    font-size: 2em;
}
header.active .logo p:last-child{
    top: 45px;
    font-size: 1.2em;
}
header.active .FAB{
    top: 0;
    left: unset;
    right: 0;
    transform: translate(0,0);
    padding: 30px 40px;
    z-index: 1;
}
header.active .FAB a{
    font-size: 20px;
}

header.active .navbar{
    top: 10px;
    right: 160px;
    background: none;
}

form{
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%,0%);
    border-radius: 20px;
    background: rgba(255, 255, 255, .4);
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    min-width: 300px;
    margin-bottom: 30px;
}
form img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: -70px;
    border: 2px solid rgba(255, 255, 255, .4);
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}
form h2{
    margin: 20px;
}
form p{
    text-transform: uppercase;
    width: 100%;
    text-align: left;
    padding: 5px 10px;
}
form input{
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}
form a{
    color: black;
}

.parts{
    position: absolute;
    top: 150px;
    left: 50%;
    width: 80%;
    transform: translate(-50%,0%);
    display: flex;
    flex-wrap: wrap;
}
.parts .part{
    flex: 1;
    border-radius: 20px;
    background: rgba(255, 255, 255, .4);
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    min-width: 300px;
    margin: 30px;
}
.parts .part img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: -70px;
    margin-bottom: 20px;
    border: 2px solid rgba(255, 255, 255, .4);
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}
.parts .part h2{
    padding: 10px;
}
.parts .part p{
    margin-bottom: 30px;
}
.parts .part a{
    background: gray;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.1em;
}

.friends{
    position: absolute;
    top: 150px;
    left: 50%;
    width: 90%;
    transform: translate(-50%,0%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.friends .friend{
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, .4);
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    flex-basis: 28%;
}
.friends .friend:last-child{
    flex: 1;
    margin-left: 3%;
}
.friends .friend img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
    border: 2px solid rgba(255, 255, 255, .4);
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}
.friends .friend h2{
    margin-top: 10px;
    margin-bottom: 30px;
}
.friends .friend a{
    background: gray;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.1em;
}