
 <img src='\images\default.jpg' width="250" height="400"><br>


 <h1>{{username}}'s Profile</h1>
 <h3>{{msg}}</h3>
<form action="/uploadProfile"  method="post"   >


<input type="file" name="profilePicture">
<br><br>
<input type="text" name="handle_name" value="">name
<br><br>
<input type="text" name="about" value="">about
<br><br>
  <select name="status">
    <option  value="single">Single</option>
    <option value="in a relationship">in a relationship</option>
    <option value="haq se single">haq se single</option>
    <option value="mazboori mai single">mazboori mai single</option>
  </select>
  <br>
      <br>
<input type="checkbox" name="hobby" value="music">music
<br>
<input type="checkbox" name="hobby" value="dance">dance
<br>
<input type="checkbox" name="hobby" value="singing">singing
<br>
<input type="checkbox" name="hobby" value="reading">reading
<br>
<input type="checkbox" name="hobby" value="writing">writing
<br>
<input type="checkbox" name="hobby" value="art">art
<br>
<input type="checkbox" name="hobby" value="sketching">sketching
<br>
<input type="checkbox" name="hobby" value="backyard genius">backyard genius
<br>
<input type="checkbox" name="hobby" value="sports">sports
<br>
<input type="checkbox" name="hobby" value="techie">techie
<br>
<input type="checkbox" name="hobby" value="Geek">Geek
<br>
<input type="checkbox" name="hobby" value="Hacking">Hacking
<br>


<br><br>
<input type="submit">
</form> 